.container {
  // @media screen and (max-width: 479px) {
  //   display: block;
  //   flex-wrap: wrap;
  //   width: 100%;
  //   padding-left: 15px;
  //   padding-right: 15px;
  //   margin-left: auto;
  //   margin-right: auto;
  // }

  // width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    // display: flex;
    // width: 100%;
    width: 740px;
  }

  @media screen and (min-width: 1280px) {
    // width: 100%;
    width: 1090px;
  }
}
