/* Цвета основного текста*/

$primary-txt:#000000;
$secondary-txt:#907E82;
$third-txt:#FFFFFF;


/*Цвета заголовков*/

$main-titles-txt:#D41443;
$main-paragraf-txt:#FFA5BA;


/* ФОН */

$main-bcg:#FFB8CA;
$product-first-bcg:#FFB8CA;  /* фон продуктов*/
$product-second-bcg:#F0D1A5;
$product-third-bcg:#C2E297;
$secondary-bcg:#FFF5F6;
$buy-now-bcg:#E17992;  /*цвет фона открывающегося меню корзины*/
$quote-bcg:#FAFAFA;

/*Иконки соц-сетей, фон*/

$icon-media:#FEA5BB;
$focus-icon-media:#D41443;


/*Кнопки*/

$infocus-btn:#FFFFFF;
$autofocus-btn:#D41443;
$focus-btn:#C7133E;
$focus-second-btn:#ECEBEB;

/*Цвета фонов заголовков карточек*/

$title-product-first:#F0D1A5;
$title-product-second:#C2E297;
$title-product-third:#F0D1A5;