/* Цвета основного текста*/

$primary-txt: #000000;
$secondary-txt: #907e82;
$third-txt: #ffffff;

/*Цвета заголовков*/

$main-titles-txt: #d41443;
$main-paragraf-txt: #ffa5ba;

/* ФОН */

$main-bcg: #ffb8ca;
$product-first-bcg: #ffb8ca; /* фон продуктов*/
$product-second-bcg: #f0d1a5;
$product-third-bcg: #c2e297;
$secondary-bcg: #fff5f6;
$buy-now-bcg: #e17992; /*цвет фона открывающегося меню корзины*/
$quote-bcg: #fafafa;
$reviews-line-color: #e1e1e1; /* цвет линии в секции customer-reviews */

/*Иконки соц-сетей, фон*/

$icon-media: #fea5bb;
$focus-icon-media: #d41443;

/*Кнопки*/

$infocus-btn: #ffffff;
$autofocus-btn: #d41443;
$focus-btn: #c7133e;
$focus-second-btn: #ecebeb;
$radio-btn: #d9d9d9;
$radio-btn-active: #d31342;

/*Цвета фонов заголовков карточек*/

$title-product-first: #f0d1a5;
$title-product-second: #c2e297;
$title-product-third: #f0d1a5;