<section class="about" id="about">
    <div class="container">
        <h2 class="about__title">tradition and love</h2>
        <p class="about__label">how it’s made?</p>
        <div class="position__tablet">
            <div class="thumb">
                <picture>
                    <source srcset="./images/cow-pic-desktop.png 1x, ./images/cow-pic-desktop2x.png 2x "
                        media="(min-width: 1280px)" />
                    <source srcset="./images/cow-pic-tablet.png 1x, ./images/cow-pic-tablet2x.png 2x "
                        media="(min-width: 768px)" />

                    <source srcset="./images/cow-pic-mobile.png 1x, ./images/cow-pic-mobile2x.png 2x "
                        media="(max-width: 767px)" />
                    <img src="./images/cow-pic-desktop.png" alt="Cow">
                </picture>
            </div>

            <div class="about__description">
                <p class="about__description1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                    cursus,
                    faucibus
                    lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>


                <p class="about__description2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
                    Mauris rhoncus
                    orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.
                    Aliquam erat volutpat. Aenean accumsan.</p>

                <!-- Вариант 1 -->

                <!-- <button class="about__button" type="button">Read more
                        <svg class="about-button__icon" width="10" height="10">
                        <use href="./images/icons/sprite.svg#icon-arrow-right-button"></use>
                    </svg>
                </button> -->

                <!-- Вариант 2 -->
                <label for="pseudoBtn" class="btn">Read more
                    <svg class="about-button__icon" width="10" height="10">
                        <use href="./images/icons/sprite.svg#icon-arrow-right-button"></use>
                    </svg></label>
                <input type="checkbox" id="pseudoBtn">
                <div class="text">Морозиво це супер !!!</div>




            </div>
        </div>


    </div>

</section>