<section class="about">
    <div class="container">
        <h2 class="about__title">tradition and love</h2>
        <p class="about__label">how it’s made?</p>
        <div class="position__tablet">
            <div class="thumb">
                <picture>
                    <source srcset="./images/cow-pic-desktop.png 1x, ./images/cow-pic-desktop@2x.png 2x "
                        media="(min-width: 1200px)" type="image/png" />
                    <source srcset="./images/cow-pic-tablet.png 1x, ./images/cow-pic-tablet@2x.png 2x " media="(min-width: 1200px)"
                        media="(min-width: 768px)" type="image/png" />
            
                    <source srcset="./images/cow-pic-mobile.png 1x, ./images/cow-pic-mobile@2x.png 2x " media="(min-width: 1200px)"
                        media="(max-width: 768px)" type="image/png" />
                    <img src="./images/cow-pic-desktop.png" alt="Cow">
                </picture>
            </div>
            
            <div class="about__description">
                <p class="about__description1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                    faucibus
                    lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
            
            
            
                <!-- <img srcset="
                                						photo-desk1x.jpg 270w,
                                						photo-desk2x.jpg 540w,
                                						photo-tab1x.jpg  354w,
                                						photo-tab2x.jpg  708w,
                                						photo-mob1x.jpg  450w,
                                						photo-mob2x.jpg  900w
                                					" sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 290px"
                                    src="./photo-desk1x.jpg" alt="team member"> -->
                <p class="about__description2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
                    orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                    Aliquam erat volutpat. Aenean accumsan.</p>
                <button class="about__button" type="button">Read more
                    <svg class="about-button__icon" width="8" height="10">
                        <use href="./images/more-sign-button-about.svg"></use>
                    </svg>
                </button>
            </div>
        </div>
       
      
        

    </div>
</section>