<section class="advantages">
    <div class="container">
     <h2 class="visually-hidden">Advantages</h2>
     <ul class="advantages-list">
         <li class="advantages-list-item">
             <h3 class="advantages-item-title icon1">721</h3>
             <p class="advantages-item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
         </li>
         <li class="advantages-list-item">
            <h3 class="advantages-item-title icon2">16kg</h3>
            <p class="advantages-item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
         </li>
         <li class="advantages-list-item">
            <h3 class="advantages-item-title icon3">84</h3>
            <p class="advantages-item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
         </li>
     </ul>
    </div>

</section>