<!-- Белая кнопка с красным текстом + стрелка -->
<button class="button button--gray" type="button">
  <svg class="button__angle-bracket" width="8" height="16">
    <use href="./images/icons/sprite.svg#icon-arrow-right-button"></use>
  </svg>
  Кнопка
</button>

<!-- Красная кнопка с белым текстом + стрелка -->
<button class="button button--red" type="button">
  <svg class="button__angle-bracket" width="8" height="16">
    <use href="./images/icons/sprite.svg#icon-arrow-right-button"></use>
  </svg>
  Кнопка
</button>

<!-- Круглая белая кнопка с красной стрелкой -->
<button class="button button--round">
  <svg class="button__round-right-arrow" width="16" height="16">
    <use href="./images/icons/sprite.svg#icon-arrow-right_products"></use>
  </svg>
</button>

<!-- Белая кнопка с красным текстом -->
<button class="button button--gray button--without-arrow" type="button">Кнопка</button>

<!-- Красная кнопка с белым текстом -->
<button class="button button--red button--without-arrow" type="button">Кнопка</button>
