<section id="contacts" class="contacts">
  <div class="container">
    <h2 class="visually-hidden">CONTACTS</h2>
    <div class="card">
      <div class="contacts-items">
        <p class="contacts-items__name">CAFE</p>
        <div class="place">
          <h3 class="place__title">Chicago</h3>
          <p class="place__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <div class="work-time">
          <ul class="work-time__list">
            <li class="work-time__item">
              <p class="work-time__days">Monday - Friday</p>
              <p class="work-time__hours">06:00 AM - 10:00 PM</p>
            </li>
            <li class="work-time__item">
              <p class="work-time__days">Saturday - Sunday</p>
              <p class="work-time__hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>

        <div class="link-address">
          <ul class="list-connection">
            <li class="list-connection__item">
              <a href="tel:+61(0)383766284" class="list-connection__link">+61(0) 383 766 284 </a>
            </li>
            <li class="list-connection__item">
              <a href="mailto:noreply@envato.com" class="list-connection__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="contacts-items">
        <p class="contacts-items__name--green">FOODTRUCK</p>
        <div class="place">
          <h3 class="place__title">Los Angeles</h3>
          <p class="place__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <div class="work-time">
          <ul class="work-time__list">
            <li class="work-time__item">
              <p class="work-time__days">Monday - Friday</p>
              <p class="work-time__hours">06:00 AM - 10:00 PM</p>
            </li>
            <li class="work-time__item">
              <p class="work-time__days">Saturday - Sunday</p>
              <p class="work-time__hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>

        <div class="link-address">
          <ul class="list-connection">
            <li class="list-connection__item">
              <a href="tel:+61(0)383766284" class="list-connection__link">+61(0) 383 766 284 </a>
            </li>
            <li class="list-connection__item">
              <a href="mailto:noreply@envato.com" class="list-connection__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="contacts-items">
        <p class="contacts-items__name">CAFE</p>
        <div class="place">
          <h3 class="place__title">New York</h3>
          <p class="place__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <div class="work-time">
          <ul class="work-time__list">
            <li class="work-time__item">
              <p class="work-time__days">Monday - Friday</p>
              <p class="work-time__hours">06:00 AM - 10:00 PM</p>
            </li>
            <li class="work-time__item">
              <p class="work-time__days">Saturday - Sunday</p>
              <p class="work-time__hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>

        <div class="link-address">
          <ul class="list-connection">
            <li class="list-connection__item">
              <a href="tel:+61(0)383766284" class="list-connection__link">+61(0) 383 766 284 </a>
            </li>
            <li class="list-connection__item">
              <a href="mailto:noreply@envato.com" class="list-connection__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contacts-button">
      <button
        type="button"
        aria-label="Our Locations"
        class="button contacts-button__btn--red"
        data-modal-open-q
      >
        Our Locations
        <svg width="10" height="10" class="contacts-button__icon--white">
          <use href="/images/icons/sprite.svg#icon-arrow-right-button"></use>
        </svg>
      </button>
      <button type="button" aria-label="Franchise" class="button contacts-button__btn--white">
        Franchise<svg width="10" height="10" class="contacts-button__icon--red">
          <use href="/images/icons/sprite.svg#icon-arrow-right-button"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<!-- ^Модальное окно -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="button-close" data-modal-close>
      <svg width="10" height="10">
        <use href="./images/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-window">
      <ul class="modal-maps">
        <li class="modal-maps__item">
          <iframe
            class="modal-maps__frame"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23762.359430610526!2d-87.64981668006385!3d41.8865139195113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xff382c4b6f5a76e4!2sGhirardelli%20Ice%20Cream%20and%20Chocolate%20Shop!5e0!3m2!1sru!2sua!4v1626783858502!5m2!1sru!2sua"
            title="IceCream"
          ></iframe>
        </li>
        <li class="modal-maps__item">
          <iframe
            class="modal-maps__frame"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d211556.3821516393!2d-118.38126171363771!3d34.05493894730333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c725196a85a3%3A0x96ff969f3d488102!2sParadis%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1626796106134!5m2!1sru!2sua"
            title="IceCream"
          ></iframe>
        </li>
        <li class="modal-maps__item">
          <iframe
            class="modal-maps__frame"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60955.476745213644!2d-74.03876106938148!3d40.7229822842723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27ffeb741d%3A0xb538c1cbbf115ef1!2sPenguin%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1626796287306!5m2!1sru!2sua"
            title="IceCream"
          ></iframe>
        </li>
      </ul>
    </div>
  </div>
</div>
