<section class="customer-reviews">
    <div class="container customer-reviews__container">
        <div class="customer-rewiews__blog">
            <h2 class="visually-hidden">Customer Reviews</h2>
            
            <input class="select__item" type="radio" name="slider" id="select__item-1" checked />
            <input class="select__item" type="radio" name="slider" id="select__item-2" />
            <input class="select__item" type="radio" name="slider" id="select__item-3" />
            <input class="select__item" type="radio" name="slider" id="select__item-4" />
            <input class="select__item" type="radio" name="slider" id="select__item-5" />
            <input class="select__item" type="radio" name="slider" id="select__item-6" />
            <input class="select__item" type="radio" name="slider" id="select__item-7" />
            <input class="select__item" type="radio" name="slider" id="select__item-8" />
            <div class="controls">
                <label class="control__item item-1" for="select__item-1"></label>
                <label class="control__item item-2" for="select__item-2"></label>
                <label class="control__item item-3" for="select__item-3"></label>
                <label class="control__item item-4" for="select__item-4"></label>
                <label class="control__item item-5" for="select__item-5"></label>
                <label class="control__item item-6" for="select__item-6"></label>
                <label class="control__item item-7" for="select__item-7"></label>
                <label class="control__item item-8" for="select__item-8"></label>
            </div>
            
            <ul class="customer-reviews__list">
                <li class="customer-reviews__item">
                    <img srcset="./images/slider/Aleksandr.jpg 1x, ./images/slider/Aleksandr@2x.jpg 2x" 
                    src="./images/slider/Aleksandr.jpg" alt="photo of a client" width="85" height="85" class="customer-reviews__img">
                    <div class="customer-reviews__content">
                        <div class="customer-reviews__lines">
                            <p class="customer-reviews__text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>
                    <div class="customer-reviews__name">Aleksandr, Kyiv</div>
                </li>
                <li class="customer-reviews__item">
                    <img srcset="./images/slider/Anatolij.jpg 1x, ./images/slider/Anatolij@2x.jpg 2x"
                        src="./images/slider/Anatolij.jpg" alt="photo of a client" width="85" height="85"
                        class="customer-reviews__img">
                    <div class="customer-reviews__content">
                        <div class="customer-reviews__lines">
                            <p class="customer-reviews__text">
                                Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                                accumsan congue. Lorem ipsum primis in nibh vel risus. Nullam viverra consectetuer.
                            </p>
                        </div>
                    </div>
                    <div class="customer-reviews__name">Anatolij, Tokmak</div>
                </li>
                <li class="customer-reviews__item">
                    <img srcset="./images/slider/Hanna.jpg 1x, ./images/slider/Hanna@2x.jpg 2x"
                        src="./images/slider/Hanna.jpg" alt="photo of a client" width="85" height="85"
                        class="customer-reviews__img">
                    <div class="customer-reviews__content">
                        <div class="customer-reviews__lines">
                            <p class="customer-reviews__text">
                                Aliquam sem. Lorem ipsum risus in hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
                                nibh vel risus. Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            </p>
                        </div>
                    </div>
                    <div class="customer-reviews__name">Hanna, Kharkiv</div>
                </li>
                <li class="customer-reviews__item">
                    <img srcset="./images/slider/Marija.jpg 1x, ./images/slider/Marija@2x.jpg 2x" 
                    src="./images/slider/Marija.jpg" alt="photo of a client" width="85" height="85" class="customer-reviews__img">
                    <div class="customer-reviews__content">
                        <div class="customer-reviews__lines">
                            <p class="customer-reviews__text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>
                    <div class="customer-reviews__name">Marija, Lviv</div>
                </li>
                <li class="customer-reviews__item">
                    <img srcset="./images/slider/Pavel.jpg 1x, ./images/slider/Pavel@2x.jpg 2x" 
                    src="./images/slider/Pavel.jpg" alt="photo of a client" width="85" height="85" class="customer-reviews__img">
                    <div class="customer-reviews__content">
                        <div class="customer-reviews__lines">
                            <p class="customer-reviews__text">
                                Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                                accumsan congue. Lorem ipsum primis in nibh vel risus. Nullam viverra consectetuer.
                            </p>
                        </div>
                    </div>
                    <div class="customer-reviews__name">Pavel, Kharkiv</div>
                </li>
                <li class="customer-reviews__item">
                    <img srcset="./images/slider/Vasyl.jpg 1x, ./images/slider/Vasyl@2x.jpg 2x" 
                    src="./images/slider/Vasyl.jpg" alt="photo of a client" width="85" height="85" class="customer-reviews__img">
                    <div class="customer-reviews__content">
                        <div class="customer-reviews__lines">
                            <p class="customer-reviews__text">
                                Aliquam sem. Lorem ipsum risus in hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
                                nibh vel risus. Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            </p>
                        </div>
                    </div>
                    <div class="customer-reviews__name">Vasyl, Nemyriv</div>
                </li>
                <li class="customer-reviews__item">
                    <img srcset="./images/slider/Vitalij.jpg 1x, ./images/slider/Vitalij@2x.jpg 2x" 
                    src="./images/slider/Vitalij.jpg" alt="photo of a client" width="85" height="85" class="customer-reviews__img">
                    <div class="customer-reviews__content">
                        <div class="customer-reviews__lines">
                            <p class="customer-reviews__text">
                                Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                                accumsan congue. Lorem ipsum primis in nibh vel risus. Nullam viverra consectetuer.
                            </p>
                        </div>
                    </div>
                    <div class="customer-reviews__name">Vitalij, Odesa</div>
                </li>
                <li class="customer-reviews__item">
                    <img srcset="./images/slider/Vovka.jpg 1x, ./images/slider/Vovka@2x.jpg 2x" 
                    src="./images/slider/Vovka.jpg" alt="photo of a client" width="85" height="85" class="customer-reviews__img">
                    <div class="customer-reviews__content">
                        <div class="customer-reviews__lines">
                            <p class="customer-reviews__text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>
                    <div class="customer-reviews__name">Vovka, Dnepr</div>
                </li>
            </ul>
        </div>
    </div>
</section>
