<section class="customer-reviews">
    <div class="container customer-reviews__container">
        <div class="customer-rewiews__blog">
            <h2 class="visually-hidden">Customer Reviews</h2>
            
            <input class="select__item" type="radio" name="slider" id="select__item-1" checked />
            <input class="select__item" type="radio" name="slider" id="select__item-2" />
            <input class="select__item" type="radio" name="slider" id="select__item-3" />
            <div class="controls">
                <label class="control__item-main" for="select__item-1"></label>
                <label class="control__item item-2" for="select__item-2"></label>
                <label class="control__item item-3" for="select__item-3"></label>
            </div>
            
            <ul class="customer-reviews__list">
                <li class="customer-reviews__item">
                    <img srcset="./images/slider/people1.png 1x, ./images/slider/people1@2x.png 2x"
                        src="./images/slider/people1.png" alt="photo of a client" width="85" height="85"
                        class="customer-reviews__img">
                    <div class="customer-reviews__content">
                        <div class="customer-reviews__lines">
                            <p class="customer-reviews__text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>
                    <div class="customer-reviews__name">Emily, Los Angeles</div>
                </li>
                <li class="customer-reviews__item">
                    <img srcset="./images/slider/people2.png 1x, ./images/slider/people2@2x.png 2x"
                        src="./images/slider/people2.png" alt="photo of a client" width="85" height="85"
                        class="customer-reviews__img">
                    <div class="customer-reviews__content">
                       <div class="customer-reviews__lines">
                            <p class="customer-reviews__text">
                                Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                                accumsan congue. Lorem ipsum primis in nibh vel risus. Nullam viverra consectetuer.
                            </p>
                       </div>
                    </div>
                    <div class="customer-reviews__name">Halle, Cleveland</div>
                </li>
                <li class="customer-reviews__item">
                    <img srcset="./images/slider/people3.png 1x, ./images/slider/people3@2x.png 2x"
                        src="./images/slider/people3.png" alt="photo of a client" width="85" height="85"
                        class="customer-reviews__img">
                    <div class="customer-reviews__content">
                        <div class="customer-reviews__lines">
                            <p class="customer-reviews__text">
                                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
                                nibh vel risus. Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            </p>
                        </div>
                    </div>
                    <div class="customer-reviews__name">Nicole, Honolulu</div>
                </li>
            </ul>
        </div>
    </div>
</section>
