<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallary__img-mob">
      <img srcset="./images/mobile/gallery/frozen-mob.jpg 1x, ./images/mobile/gallery/frozen-mob@2x.jpg 2x"
        src="./images/mobile/gallery/frozen-mob.jpg" alt="photo of a ice cream" width="39" height="39"
        class="gallary__img-mob-frozen">
      <img srcset="./images/mobile/gallery/holding-mob.jpg 1x, ./images/mobile/gallery/holding-mob@2x.jpg 2x"
        src="./images/mobile/gallery/holding-mob.jpg" alt="photo of a ice cream" width="39" height="39"
        class="gallary__img-mob-holding">
      <img srcset="./images/mobile/gallery/pinkice-mob.jpg 1x, ./images/mobile/gallery/pinkice-mob@2x.jpg 2x"
        src="./images/mobile/gallery/pinkice-mob.jpg" alt="photo of a ice cream" width="39" height="39"
        class="gallary__img-mob-pinkice">
      <img srcset="./images/mobile/gallery/main-mob.jpg 1x, ./images/mobile/gallery/main-mob@2x.jpg 2x"
        src="./images/mobile/gallery/main-mob.jpg" alt="photo of a ice cream" width="80" height="80"
        class="gallary__img-mob-main">
      <img srcset="./images/mobile/gallery/girl-mob.jpg 1x, ./images/mobile/gallery/girl-mob@2x.jpg 2x"
        src="./images/mobile/gallery/girl-mob.jpg" alt="photo of a ice cream" width="39" height="39"
        class="gallary__img-mob-girl">
      <img srcset="./images/mobile/gallery/dessert-mob.jpg 1x, ./images/mobile/gallery/dessert-mob@2x.jpg 2x"
        src="./images/mobile/gallery/dessert-mob.jpg" alt="photo of a ice cream" width="39" height="39"
        class="gallary__img-mob-dessert">
      <img srcset="./images/mobile/gallery/street-mob.jpg 1x, ./images/mobile/gallery/street-mob@2x.jpg 2x"
        src="./images/mobile/gallery/street-mob.jpg" alt="photo of a ice cream" width="39" height="39"
        class="gallary__img-mob-street">
      <img srcset="./images/mobile/gallery/dog-mob.jpg 1x, ./images/mobile/gallery/dog-mob@2x.jpg 2x"
        src="./images/mobile/gallery/dog-mob.jpg" alt="photo of a ice cream" width="39" height="39"
        class="gallary__img-mob-dog">
      <img srcset="./images/mobile/gallery/drink-mob.jpg 1x, ./images/mobile/gallery/drink-mob@2x.jpg 2x"
        src="./images/mobile/gallery/drink-mob.jpg" alt="photo of a ice cream" width="39" height="39"
        class="gallary__img-mob-drink">
      <img srcset="./images/mobile/gallery/weirddessert-mob.jpg 1x, ./images/mobile/gallery/weirddessert-mob@2x.jpg 2x"
        src="./images/mobile/gallery/weirddessert-mob.jpg" alt="photo of a ice cream" width="39" height="39"
        class="gallary__img-mob-weirddessert">
    </div>
    <div class="gallary__img-tab">
      <img srcset="./images/tablet/gallery/frozen-tab.jpg 1x, ./images/tablet/gallery/frozen-tab@2x.jpg 2x"
        src="./images/tablet/gallery/frozen-tab.jpg" alt="photo of a ice cream" width="85" height="85"
        class="gallary__img-tab-frozen">
      <img srcset="./images/tablet/gallery/holding-tab.jpg 1x, ./images/tablet/gallery/holding-tab@2x.jpg 2x"
        src="./images/tablet/gallery/holding-tab.jpg" alt="photo of a ice cream" width="85" height="85"
        class="gallary__img-tab-holding">
      <img srcset="./images/tablet/gallery/pinkice-tab.jpg 1x, ./images/tablet/gallery/pinkice-tab@2x.jpg 2x"
        src="./images/tablet/gallery/pinkice-tab.jpg" alt="photo of a ice cream" width="85" height="85"
        class="gallary__img-tab-pinkice">
      <img srcset="./images/tablet/gallery/main-tab.jpg 1x, ./images/tablet/gallery/main-tab@2x.jpg 2x"
        src="./images/tablet/gallery/main-tab.jpg" alt="photo of a ice cream" width="174" height="174"
        class="gallary__img-tab-main">
      <img srcset="./images/tablet/gallery/girl-tab.jpg 1x, ./images/tablet/gallery/girl-tab@2x.jpg 2x"
        src="./images/tablet/gallery/girl-tab.jpg" alt="photo of a ice cream" width="85" height="85"
        class="gallary__img-tab-girl">
      <img srcset="./images/tablet/gallery/dessert-tab.jpg 1x, ./images/tablet/gallery/dessert-tab@2x.jpg 2x"
        src="./images/tablet/gallery/dessert-tab.jpg" alt="photo of a ice cream" width="85" height="85"
        class="gallary__img-tab-dessert">
      <img srcset="./images/tablet/gallery/street-tab.jpg 1x, ./images/tablet/gallery/street-tab@2x.jpg 2x"
        src="./images/tablet/gallery/street-tab.jpg" alt="photo of a ice cream" width="85" height="85"
        class="gallary__img-tab-street">
      <img srcset="./images/tablet/gallery/dog-tab.jpg 1x, ./images/tablet/gallery/dog-tab@2x.jpg 2x"
        src="./images/tablet/gallery/dog-tab.jpg" alt="photo of a ice cream" width="85" height="85"
        class="gallary__img-tab-dog">
      <img srcset="./images/tablet/gallery/drink-tab.jpg 1x, ./images/tablet/gallery/drink-tab@2x.jpg 2x"
        src="./images/tablet/gallery/drink-tab.jpg" alt="photo of a ice cream" width="85" height="85"
        class="gallary__img-tab-drink">
      <img srcset="./images/tablet/gallery/weirddessert-tab.jpg 1x, ./images/tablet/gallery/weirddessert-tab@2x.jpg 2x"
        src="./images/tablet/gallery/weirddessert-tab.jpg" alt="photo of a ice cream" width="85" height="85"
        class="gallary__img-tab-weirddessert">
    </div>
    <div class="gallary__img">
      <img srcset="./images/desktop/gallery/frozen.jpg 1x, ./images/desktop/gallery/frozen@2x.jpg 2x"
        src="./images/desktop/gallery/frozen.jpg" alt="photo of a ice cream" width="138" height="138"
        class="gallary__img-frozen">
      <img srcset="./images/desktop/gallery/holding.jpg 1x, ./images/desktop/gallery/holding@2x.jpg 2x"
        src="./images/desktop/gallery/holding.jpg" alt="photo of a ice cream" width="138" height="138"
        class="gallary__img-holding">
      <img srcset="./images/desktop/gallery/pinkice.jpg 1x, ./images/desktop/gallery/pinkice@2x.jpg 2x"
        src="./images/desktop/gallery/pinkice.jpg" alt="photo of a ice cream" width="138" height="138"
        class="gallary__img-pinkice">
      <img srcset="./images/desktop/gallery/main.jpg 1x, ./images/desktop/gallery/main@2x.jpg 2x"
        src="./images/desktop/gallery/main.jpg" alt="photo of a ice cream" width="284" height="284"
        class="gallary__img-main">
      <img srcset="./images/desktop/gallery/girl.jpg 1x, ./images/desktop/gallery/girl@2x.jpg 2x"
        src="./images/desktop/gallery/girl.jpg" alt="photo of a ice cream" width="138" height="138"
        class="gallary__img-girl">
      <img srcset="./images/desktop/gallery/dessert.jpg 1x, ./images/desktop/gallery/dessert@2x.jpg 2x"
        src="./images/desktop/gallery/dessert.jpg" alt="photo of a ice cream" width="138" height="138"
        class="gallary__img-dessert">
      <img srcset="./images/desktop/gallery/street.jpg 1x, ./images/desktop/gallery/street@2x.jpg 2x"
        src="./images/desktop/gallery/street.jpg" alt="photo of a ice cream" width="138" height="138"
        class="gallary__img-street">
      <img srcset="./images/desktop/gallery/dog.jpg 1x, ./images/desktop/gallery/dog@2x.jpg 2x"
        src="./images/desktop/gallery/dog.jpg" alt="photo of a ice cream" width="138" height="138"
        class="gallary__img-dog">
      <img srcset="./images/desktop/gallery/drink.jpg 1x, ./images/desktop/gallery/drink@2x.jpg 2x"
        src="./images/desktop/gallery/drink.jpg" alt="photo of a ice cream" width="138" height="138"
        class="gallary__img-drink">
      <img srcset="./images/desktop/gallery/weirddessert.jpg 1x, ./images/desktop/gallery/weirddessert@2x.jpg 2x"
        src="./images/desktop/gallery/weirddessert.jpg" alt="photo of a ice cream" width="138" height="138"
        class="gallary__img-weirddessert">
    </div>
  </div>
</section>
