<header class="header">
    <div class="container">
        <div class="header__wrapper">

            <!-- Main Menu -->

            <a href="/index.html" class=" logo nav-menu__logo">
                <img class="hero-icecream__image" srcset="./images/logo-1x.png 1x, ./images/logo-2x.png 2x"
                    src="./images/logo-1x.png" alt="ice cream made with passion">
            </a>

            <nav class="nav-menu">
                <ul class="nav-menu__list ">
                    <li class="nav-menu__item">
                        <a href="#" class="nav-menu__link nav-menu__link--current">Home</a>
                    </li>
                    <li class="nav-menu__item">
                        <a href="#" class="nav-menu__link">About us</a>
                    </li>
                    <li class="nav-menu__item">
                        <a href="#" class="nav-menu__link">How it’s made?</a>
                    </li>
                    <li class="nav-menu__item">
                        <a href="#" class="nav-menu__link">Our products</a>
                    </li>
                    <li class="nav-menu__item">
                        <a href="#" class="nav-menu__link">Contact</a>
                    </li>
                </ul>


            </nav>

            <!-- Header Button -->
            <button class="header-button" type="button" aria-label="Купить сейчас" data-modal-open>Buy
                now</button>


        </div>
    </div>
</header>


<main>
    <section class="hero hero__background">
        <div class="container hero__container">
            <div class="hero-icecream__block">
                <img class="hero-icecream__image"
                    srcset="./images/desktop/desk_slider-pic7_1x-min.png 1x, ./images/desktop/desk_slider-pic7_2x-min.png 2x"
                    src="./images/desktop/desk_slider-pic7_1x-min.png" alt="ice cream made with passion">

            </div>



            <div class="hero__main-info">
                <h1 class="hero__title">ice cream made with <span class="hero__title--red">passion</span>
                </h1>
                <ul class="chain-stores chain-stores__list">
                    <li class="chain-stores__item"><span class="chain-stores__item--red">16</span>cafes</li>
                    <li class="chain-stores__item"><span class="chain-stores__item--red">23</span>food trucks</li>
                </ul>
            </div>
            <div class="hero-nav-batton">
                <a class="hero-nav-batton__link button red angle-bracket" href="#">Products</a>
                <a class="hero-nav-batton__link button gray" href="#">How it’s made?</a>
            </div>


            <div class="hero-milk">
                <img class="hero-milk__image"
                    srcset="./images/desktop/desk_slider-pic5_1x-min.png 1x, ./images/desktop/desk_slider-pic5_2x-min.png 2x"
                    src="./images/desktop/desk_slider-pic5_1x-min.png" alt="bio eco milk">
                <div class="hero-milk__content">
                    <p class="hero-milk__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut
                        labore et</p>
                    <a class="hero-milk__batton button gray" href="#">&</a>
                </div>
            </div>

            <div class="hero-image-girl">
                <img class="hero-image-girl__image"
                    srcset="./images/desktop/desk_slider-pic4_1x-min.png 1x, ./images/desktop/desk_slider-pic4_2x-min.png 2x"
                    src="./images/desktop/desk_slider-pic4_1x-min.png" alt="bio eco milk">

            </div>





        </div>


    </section>
</main>