<footer class="footer-color">
  <div class="flex-footer container">
    <div class="description">
      <p class="description__title">homemade ice cream made</p>
      <p class="description__heading">with passion</p>
    </div>
    <div class="tadlet-footer">
      <div class="social">
        <ul class="social-item">
          <li class="social-item__list">
            <a href="https://github.com"><svg class="social-icons" width="32" height="32">
                <use href="./images/icons/sprite.svg#icon-github"></use>
              </svg></a>
          </li>
          <li class="social-item__list">
            <a href="https://web.telegram.org"><svg class="social-icons" width="32" height="32">
                <use href="./images/icons/sprite.svg#icon-telegram"></use>
              </svg></a>
          </li>
          <li class="social-item__list">
            <a href="https://uk-ua.facebook.com"><svg class="social-icons" width="32" height="32">
                <use href="./images/icons/sprite.svg#icon-facebook"></use>
              </svg></a>
          </li>
        </ul>
      </div>

      <div class="call">
        <b class="call__adds">Feel free to contact</b>
        <a class="call__number" href="tell:+610383766284">+61 (0) 383 766 284</a>
      </div>
    </div>
  </div>
  <p class="creator"> &#169;2019 - IceCream.
    All Rights Reserved.</p>
</footer>