.button {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 22px;
  //   padding-left: 37px;
  //   padding-right: 37px;
  height: 44px;
  border-style: none;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: $autofocus-btn;
  transition: background-color 250ms $transition-cubic;

  &--without-arrow {
    height: 24px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.3;

    @media screen and (min-width: 1200px) {
      height: 40px;
      font-size: 14px;
    }
  }

  &__angle-bracket {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    stroke: var(--color2, currentColor);
  }

  &--gray {
    background-color: $infocus-btn;
  }

  &--red {
    background-color: $autofocus-btn;
    color: $third-txt;
  }

  &--gray:focus,
  &--gray:hover {
    background-color: $focus-second-btn;
  }

  &--red:focus,
  &--red:hover {
    background-color: $focus-btn;
  }

  &--round {
    display: inline-flex;
    padding: 15px;
    border: none;
    align-self: center;
    margin-top: 30px;
    border-radius: 50%;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    color: $autofocus-btn;
    background-color: $infocus-btn;
    transition: background-color 250ms $transition-cubic;

    &:focus,
    &:hover {
      background-color: $focus-second-btn;
    }
  }

  &__round-right-arrow {
    fill: $autofocus-btn;
    display: block;
  }
}
