%button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0;
  border: none;
  color: $autofocus-btn;
  transition: background-color 250ms $transition-cubic;
}

.button-text {
  @extend %button;
  border-radius: 22px;
  min-width: 160px;

  &__without-arrow {
    height: 24px;
    font-size: 8px;
    line-height: 1.3;
    min-width: 60px;
    padding-left: 14px;
    padding-right: 14px;

    @media screen and (min-width: 1280px) {
      height: 40px;
      font-size: 14px;
      line-height: 1.286;
      min-width: 100px;
      padding-left: 17px;
      padding-right: 17px;
    }
  }

  &__with-arrow {
    height: 44px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3125;
    padding-left: 37px;
    padding-right: 37px;

    &--mob-about {
      font-size: 14px;
      line-height: 1.286;
    }
  }

  &__angle-bracket {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    stroke: var(--color2, currentColor);
  }

  &--header {
    @media screen and (max-width: 1279px) {
      margin-left: 20px;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &--mob-menu {
    @media screen and (max-width: 767px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &--size {
    @media screen and (max-width: 767px) {
      width: 100%;
      padding-left: 17px;
      padding-right: 17px;
    }
  }

  &--gray {
    background-color: $infocus-btn;
  }

  &--red {
    background-color: $autofocus-btn;
    color: $third-txt;
  }

  &--gray:focus,
  &--gray:hover {
    background-color: $focus-second-btn;
  }

  &--red:focus,
  &--red:hover {
    background-color: $focus-btn;
  }
}

.button__round {
  @extend %button;
  align-self: center;
  border-radius: 50%;
  padding: 5px;
  color: $autofocus-btn;
  background-color: $infocus-btn;
  transition: background-color 250ms $transition-cubic;

  &--hero {
    height: 18px;
    width: 18px;
    padding: 6px;

    @media screen and (min-width: 1280px) {
      height: 26px;
      width: 26px;
      padding: 9px;
    }
  }

  &--product {
    width: 40px;
    height: 40px;
  }

  &-right-arrow {
    fill: $autofocus-btn;
    display: block;
  }

  &:focus,
  &:hover {
    background-color: $focus-second-btn;
  }
}

.header-button__wrapper {
  display: flex;
  align-items: flex-end;
}

.header-button__title {
  display: block;
  padding-right: 12px;
}

.header-button__angle-bracket {
  display: block;
  stroke: $main-titles-txt;
}
