.backdrop {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms $transition-cubic,
  visibility 250ms $transition-cubic;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  overflow-y: auto;
  height: 100vh;
  position: absolute;
  // position: relative;
  // z-index: 30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: $secondary-bcg;
  transition: transform 500ms $transition-cubic;

  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;

@media screen and (max-width:479px) {
  // width: 100%;

}

@media screen and (min-width:768px) {

  width: 680px;
  // height: 830px;
  // height: 100vh;
  padding: 25px 35px;
  width: 650px;
  // height: 750px;
  padding: 25px;

}
}

.button-close {
  stroke: #000000;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  background-color: $infocus-btn;
  border: 1px solid $vector-line;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

&:hover,
&:focus {
  stroke: $focus-btn;
  border: 1px solid $focus-btn;
}
}
.modal-maps__frame {
  display: flex;
  width:290px;

  // height: 290px;
  height: calc(100vh / 3);
  height: 220px;

  border: 1px solid $focus-btn;

  @media screen and (min-width:768px) {
  width:600px;

  // height: 250px;

  border: 1px solid $focus-btn;
  border-radius: 5px;
}
}
  height: 220px;
  border: 1px solid $focus-btn;
  border-radius: 5px;
}
}


.modal-maps__item:not(:last-child) {
  margin-bottom: 5px;
}