.about {
  padding-top: 125px;
  padding-bottom: 39px;
  background-color: $secondary-bcg;

  @media screen and (max-width: 767px) {
    background-position: 100% 90%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/milk-about-mobile.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/milk-about-mobile2x.png');
    }
  }
  @media screen and (min-width: 1280px) {
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: contain;

    background-image: url('../images/milk-about-desktop.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/milk-about-desktop2x.png');
    }
  }
}

.about__title {
  font-family: Titan One, 'Arial', monospace;
  margin-bottom: 15px;
  text-transform: uppercase;

  font-size: 18px;
  line-height: 1.17em;
  text-align: center;
  color: $main-paragraf-txt;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15em;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13em;
    letter-spacing: 0.04em;
  }
}
.about__label {
  font-family: Titan One, 'Arial', monospace;
  margin-bottom: 26px;
  text-transform: uppercase;

  font-size: 34px;
  line-height: 1.147em;
  text-align: center;
  letter-spacing: 0.04em;
  color: $main-titles-txt;
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
    font-size: 48px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 55px;
    font-size: 58px;
    line-height: 1.138em;
    letter-spacing: 0.06em;
  }
}

.thumb {
  @media screen and (max-width: 767px) {
    margin-bottom: 46px;
    min-width: 280px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 17px;
    min-width: 340px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 74px;
    min-width: 516px;
  }
}
.position__tablet {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about__description1 {
  margin-bottom: 47px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58em;
  color: $primary-txt;
  @media screen and (min-width: 768px) {
    padding-top: 50px;
    font-size: 14px;
    line-height: 1.76em;
    margin-bottom: 35px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.75em;
    letter-spacing: 0.04em;
  }
}
.about__description2 {
  text-align: left;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58em;
  color: $secondary-txt;
  @media screen and (min-width: 767px) {
    font-size: 14px;
    line-height: 1.786em;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    line-height: 1.93em;
    margin-bottom: 40px;
  }
}

.about__description3 {
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58em;
  color: $secondary-txt;
  margin-bottom: 20px;
  @media screen and (min-width: 767px) {
    font-size: 14px;
    line-height: 1.786em;
    letter-spacing: 0.04em;
    margin-bottom: 62px;
  }
  @media screen and (min-width: 1280px) {
    line-height: 1.93em;
    margin-bottom: 45px;
  }
}
// Кнопка Read more
.text,
.btn__input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  transform: scaleX(0.5);
}
.text {
  max-width: 40vw;

  font-weight: 700;
  font-size: 30px;
  line-height: 1.58em;
}

.btn__input:checked ~ .text {
  opacity: 1;
  transform: scaleX(1.2);
  background: pink;
  box-shadow: inset 3px 3px 10px #2e49b6;
  box-shadow: inset 3px 3px 10px #2e49b6;
  box-shadow: inset 3px 3px 10px #2e49b6;
  padding: 10px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стилизация псевдокнопки */
.btn {
  display: inline-block;
  max-width: 176px;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29em;
  border-radius: 22px;
  padding: 10px 37px;
  border: 1px solid transparent;

  background-color: #ffffff;
  color: $autofocus-btn;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.31em;
  }
  &:hover,
  &:focus {
    background-color: $focus-second-btn;
  }
}
.about-button__icon {
  display: block;
  margin-left: 10px;
  stroke: $autofocus-btn;
}
