.customer-reviews {
  margin-top: 80px;

  @media screen and (min-width: 768px) {
    margin-top: 121px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 123px;
  }
}
.customer-rewiews__blog {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    width: 620px;

    overflow: hidden;
  }

  @media screen and (min-width: 1280px) {
    width: 926px;
  }
}
.customer-reviews__list {
  position: relative;
  display: flex;
  z-index: 10;
  transition: 500ms cubic-bezier(0, 1.5, 1, 1.2) 0s;

  @media screen and (min-width: 768px) {
    transition: 600ms cubic-bezier(0, 1.5, 1, 1.2) 0s;
  }
}
.customer-reviews__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.customer-reviews__img {
  border-radius: 50%;
  margin-bottom: 29px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    margin-bottom: 19px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}
.customer-reviews__content {
  width: 280px;

  position: relative;
  z-index: 0;

  display: flex;
  align-content: center;
  justify-content: center;

  padding: 42px 50px 26px 50px;
  margin-bottom: 52px;
  margin-left: auto;
  margin-right: auto;

  background-color: $quote-bcg;

  @media screen and (min-width: 768px) {
    width: 620px;
    padding: 47px 50px 24px 50px;
    margin-bottom: 42px;
  }

  @media screen and (min-width: 1280px) {
    width: 926px;
    padding: 43px 50px 21px 50px;
    margin-bottom: 34px;
  }

  &::before {
    content: '';
    width: 54px;
    height: 40px;

    position: absolute;
    top: 32px;
    left: 50px;
    z-index: 10;
    @media screen and (max-width: 1279px) {
      top: 30px;
      left: 40px;
    }
    @media screen and (max-width: 767px) {
      top: 28px;
      left: 61px;
    }

    background-image: url('../images/slider/brackets.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/slider/brackets@2x.png');
      background-size: 54px 40px;
    }
  }
}
.customer-reviews__lines {
  display: flex;
  width: 180px;
  justify-content: center;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 29px,
    $reviews-line-color 29px,
    $reviews-line-color 30px
  );
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-left: 12px;
    margin-right: -12px;
    width: 524px;
  }

  @media screen and (min-width: 1280px) {
    width: 813px;
  }
}
.customer-reviews__text {
  max-width: 157px;

  position: relative;
  z-index: 20;

  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;

  @media screen and (max-width: 767px) {
    min-height: 200px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 460px;
    min-height: 93px;

    font-size: 14px;
    line-height: 2.16;
    margin-left: -12px;
    margin-right: 12px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 750px;
    min-height: 74px;

    font-size: 16px;
    line-height: 1.86;
  }
}
.customer-reviews__name {
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  margin-bottom: 41px;

  @media screen and (min-width: 768px) {
    margin-bottom: 43px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 41px;
  }

  &::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 768px) {
      top: -16px;
    }
    @media screen and (min-width: 1280px) {
      top: -17px;
    }

    width: 32px;
    height: 4px;
    background-image: url('../images/slider/points.png');
    background-size: 32px 4px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/slider/points@2x.png');
      background-size: 32px 4px;
    }
  }

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

.select__item {
  display: none;
}

.controls {
  position: absolute;
  z-index: 11;
  display: flex;
  top: 527px;
  left: 4%;

  @media screen and (min-width: 768px) {
    top: 368px;
    left: 29%;
  }

  @media screen and (min-width: 1280px) {
    top: 336px;
    left: 36%;
  }
}

.control__item {
  display: block;
  width: 12px;
  height: 12px;
  background: $radio-btn;
  border-radius: 50%;
  margin-left: 18px;
  cursor: pointer;
  transition: 500ms ease-out;
}

.control__item-main {
  display: block;
  background-image: url('../images/icons/home.svg');
  filter: invert(0.5) brightness(170%);
  width: 12.4px;
  height: 12px;
  margin-left: 18px;
  cursor: pointer;
  transition: 500ms ease-in;
}

#select__item-1:checked ~ .customer-reviews__list {
  transform: translateX(0%);
}

#select__item-2:checked ~ .customer-reviews__list {
  transform: translateX(-100%);
}

#select__item-3:checked ~ .customer-reviews__list {
  transform: translateX(-200%);
}

#select__item-4:checked ~ .customer-reviews__list {
  transform: translateX(-300%);
}

#select__item-5:checked ~ .customer-reviews__list {
  transform: translateX(-400%);
}

#select__item-6:checked ~ .customer-reviews__list {
  transform: translateX(-500%);
}

#select__item-7:checked ~ .customer-reviews__list {
  transform: translateX(-600%);
}

#select__item-8:checked ~ .customer-reviews__list {
  transform: translateX(-700%);
}

#select__item-1:checked ~ .controls .control__item-main {
  filter: invert(0%);
  transform: scale(1.3);
}

#select__item-1:hover ~ .controls .control__item-main {
  filter: invert(0%);
  transition: 500ms ease;
}

#select__item-2:checked ~ .controls .item-2,
#select__item-3:checked ~ .controls .item-3,
#select__item-4:checked ~ .controls .item-4,
#select__item-5:checked ~ .controls .item-5,
#select__item-6:checked ~ .controls .item-6,
#select__item-7:checked ~ .controls .item-7,
#select__item-8:checked ~ .controls .item-8 {
  transform: scale(1.3);
  background: $radio-btn-active;
}

#select__item-2:hover ~ .controls .item-2,
#select__item-3:hover ~ .controls .item-3,
#select__item-4:hover ~ .controls .item-4,
#select__item-5:hover ~ .controls .item-5,
#select__item-6:hover ~ .controls .item-6,
#select__item-7:hover ~ .controls .item-7,
#select__item-8:hover ~ .controls .item-8 {
  background: $radio-btn-active;
}
