.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 123px;

  background: linear-gradient(to bottom, $secondary-bcg 40%, $third-txt 40%);

  .gallery__overley {
    margin-left: auto;
    margin-right: auto;
  }

  & .container {
    padding: 0;
  }
}
