.products {
  padding-top: 121px;
  padding-bottom: 98px;

  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }

  &__title {
    text-align: center;
  }
  &__title-top {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;

    color: $main-paragraf-txt;

    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.145;
    }

    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.145;
      letter-spacing: 0.04em;
    }
  }
  &__title-bottom {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 1.15px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $main-titles-txt;
    margin-top: 15px;

    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 1.145;
    }

    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 1.145;
      letter-spacing: 0.06em;
    }
  }
  &__list {
    display: block;

    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: -20px;
      margin-bottom: -20px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
    }

    @media screen and (min-width: 1280px) {
      margin-left: -30px;
      margin-bottom: -30px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    background: $main-bcg;
    border-radius: 24px;
    padding-top: 161px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 144px;

    flex-basis: calc(100% / 1 - 20px);
    margin-left: 20px;
    margin-bottom: 20px;

    &.first {
      background-color: $product-first-bcg;
    }

    &.second {
      background-color: $product-second-bcg;
    }

    &.third {
      background-color: $product-third-bcg;
    }

    @media screen and (min-width: 768px) {
      padding-top: 152px;
      padding-bottom: 40px;
      padding-left: 11px;
      padding-right: 11px;
      margin-top: 150px;
      margin-bottom: 0px;
      flex-basis: calc(100% / 3 - 20px);
    }

    @media screen and (min-width: 1280px) {
      height: 525px;
      padding-top: 180px;
      padding-bottom: 50px;
      padding-left: 44px;
      padding-right: 44px;
      margin-top: 259px;
      flex-basis: calc(100% / 3 - 30px);
      margin-left: 0px;
      width: 330px;
      margin-left: 30px;
      margin-bottom: 30px;
    }
  }

  &__label {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $third-txt;

    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.15px;
    }
  }

  &__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color: $third-txt;

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.76;
    }
  }
  &__text-bottom {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__image {
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (min-width: 768px) {
      top: -102px;
    }
    @media screen and (min-width: 1280px) {
      width: 335px;
      height: 335px;
      top: -210px;
    }
  }
  &__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    @media screen and (min-width: 768px) {
      margin-top: 40px;
    }

    @media screen and (min-width: 1280px) {
      margin-top: 60px;
    }
  }
}
.ellipse-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 1280px) {
    margin-top: 45px;
    margin-bottom: 32px;
  }

  .ellipse {
    background-color: $infocus-btn;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border-style: none;
  }

  .ellipse:not(:last-child) {
    margin-right: 4px;
  }
}
