.footer-color {
  background-color: $secondary-bcg;
  
}



.description__title {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  margin-bottom: 17px;

  color: $main-paragraf-txt;
}

.description__heading {
  font-family: Titan One;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 43px;

  color: $main-titles-txt;
}

.social {
  margin-bottom: 46px;
}

.social-item {
  display: flex;
  justify-content: flex-end;
}


.social-icons {
  fill: $icon-media;
}

.call {
  display: block;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 12px;
  text-align: end;
  margin-bottom: 43px;
}

.call__adds {
  color: $primary-txt;
}
.call__number {
  font-style: normal;
  line-height: 1.83;

  color: $main-titles-txt;
}

.creator {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;

  padding-top: 22px;
  padding-bottom: 25px;
  border-top: 1px solid $reviews-line-color;

  text-align: center;
  color: $secondary-txt;
}
