.contacts {
    background-color: $secondary-bcg;
    font-family: DM Sans, Arial, sans-serif ;

    @media screen and (min-width: 1280px) {
      background-image: url();
      background-size: cover;
    }
}

.card {
  margin-bottom: -84px;

  @media screen and (min-width: 768px) {
    display: flex;
    // margin-left: -10px;
    // margin-right: -10px;
    margin: 0 -10px -78px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-left: -15px;
    // margin-right: -15px;
    // margin-bottom: -102px;
    margin: 0 -15px -102px;
  }
}

.contacts-items {
  position: relative;
  bottom: 84px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: 1px solid #e1e1e1;
    border-radius: 24px;
    background-color: white;
    box-shadow: 0px 8px 30px 0px #d414431a;
    padding: 43px 21px 43px 20px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      bottom: 78px;
      padding: 50px 32px 50px 31px;
      margin: 0 10px 0;
    }

    @media screen and (min-width: 1280px) {
      bottom: 102px;
      width: 330px;
      padding: 51px 44px 62px 43px;
      margin: 0 15px 0;
    }
}

.contacts-items__name,
.contacts-items__name--green {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 16px;
    background-color: $title-product-first;
    color: $third-txt;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.83;
    letter-spacing: 0.04em;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
      width: 73px;
      height: 28px;
      font-size: 16px;
      line-height: 1.86;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 32px;
    }
}

.contacts-items__name--green {
    width: 130px;
    background-color: $title-product-second;

    @media screen and (min-width: 768px) {
      width: 138px;
    }
}

.place {
    position: relative;
    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 64px;
    }
}

.place::after {
    position: absolute;
    content: " ";
    bottom: -25px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
}

.place__title {
    color: $primary-txt;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.83;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.86;
      margin-bottom: 14px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.86;
      margin-bottom: 10px;
    }
}

.place__text {
    color: $secondary-txt;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.66;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.83;
    }
}

.work-time__days {
    color: $primary-txt;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.83;
    text-align: left;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.86;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.86;
    }
}

.work-time__hours {
    color: $main-paragraf-txt;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.83;
    text-align: left;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.86;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.86;
    }
}

.work-time {
    position: relative;
    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 64px;
    }
}

.work-time::after {
    position: absolute;
    content: " ";
    bottom: -25px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
}

.work-time__item:first-child {
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 15px;
    }
}

.list-connection__link {
    color: $secondary-txt;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.83;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.83;
    }
}

.contacts-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 54px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      margin-top: 81px;
    }

    @media screen and (min-width: 1280px) {
      margin-top: 86px;
    }
}

.contacts-button__btn--red,
.contacts-button__btn--white {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d41342;
  color: $third-txt;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  width: 161px;
  height: 44px;
  border: none;
  border-radius: 22px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 191px;
  }

  @media screen and (min-width: 1280px) {
    width: 198px;
  }
}

.contacts-button__btn--white {
    background-color: $infocus-btn;
    color: $autofocus-btn;
    margin-top: 10px;

    @media screen and (min-width: 768px) {
      margin-top: 0;
      margin-left: 15px;
    }
}

.contacts-button__btn--white:hover {
  background-color: #ECEBEB;
}
